@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf);
}
.title {
  color: #666666;
  font-family: "Roboto";
  line-height: 100%;
}

.button {
  font-family: Roboto;
  font-size: 20px;
  color: #7875FE;
  width: 255px;
  height: 70px;
  border: 1px solid #7875FE;
}

.text {
  color: #85859B;
  font-family: "Roboto";
  line-height: 170%;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 578px) {
  nav {
    background-color: #EBEBEB;
    display: none;
  }
}

nav ul {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 578px) {
  nav ul {
    display: block;
    list-style-type: none;
    padding: 22px 0 88px 15px;
  }
}
nav ul li {
  display: inline-block;
}
@media screen and (max-width: 578px) {
  nav ul li {
    padding-bottom: 50px;
    display: block;
  }
}
nav ul a {
  text-decoration: none;
  color: #4C5866;
}
@media screen and (max-width: 578px) {
  nav ul a {
    font-size: 18px;
  }
}

#burger,
[for=burger] {
  display: none;
}

@media screen and (max-width: 578px) {
  [for=burger] {
    display: block;
    width: 30px;
    text-align: center;
    padding-left: 15px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 578px) {
  [for=burger]::before {
    content: url(../img/header_menu/List.svg);
  }
}

@media screen and (max-width: 578px) {
  #burger:checked + label + nav {
    display: block;
    animation: show 0.5s ease;
  }
}

@media screen and (max-width: 578px) {
  #burger:checked + [for=burger]::before {
    content: url(../img/header_menu/close.svg);
  }
}

@media screen and (max-width: 578px) {
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf);
}
.title {
  color: #666666;
  font-family: "Roboto";
  line-height: 100%;
}

.button {
  font-family: Roboto;
  font-size: 20px;
  color: #7875FE;
  width: 255px;
  height: 70px;
  border: 1px solid #7875FE;
}

.text {
  color: #85859B;
  font-family: "Roboto";
  line-height: 170%;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 16px;
  }
}

.main__simplethings {
  display: flex;
  justify-content: center;
  min-width: 1110px;
  height: 620px;
}
@media screen and (max-width: 1109px) {
  .main__simplethings {
    min-width: 690px;
    height: 470px;
  }
}
@media screen and (max-width: 689px) {
  .main__simplethings {
    min-width: 511px;
    height: 416px;
  }
}
@media screen and (max-width: 509px) {
  .main__simplethings {
    min-width: 289px;
    height: 328px;
  }
}

.simplethings__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
}
@media screen and (max-width: 1109px) {
  .simplethings__container {
    width: 690px;
  }
}
@media screen and (max-width: 689px) {
  .simplethings__container {
    width: 511px;
  }
}
@media screen and (max-width: 509px) {
  .simplethings__container {
    width: 289px;
  }
}

.simplethings__content {
  width: 445px;
  height: 360px;
}
@media screen and (max-width: 1109px) {
  .simplethings__content {
    width: 390px;
    height: 340px;
  }
}
@media screen and (max-width: 689px) {
  .simplethings__content {
    width: 287px;
    height: 296px;
  }
}
@media screen and (max-width: 509px) {
  .simplethings__content {
    width: 289px;
    height: 230px;
  }
}

.simplethings__title {
  font-family: "Roboto";
  color: #4C5866;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
@media screen and (max-width: 1109px) {
  .simplethings__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 689px) {
  .simplethings__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 509px) {
  .simplethings__title {
    font-size: 30px;
  }
}

.simplethings__text {
  margin: 30px 0px;
  line-height: 150%;
  font-size: 18px;
}
@media screen and (max-width: 689px) {
  .simplethings__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 509px) {
  .simplethings__text {
    font-size: 14px;
  }
}

.button {
  display: flex;
  width: 255px;
  height: 70px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 689px) {
  .button {
    width: 196px;
    height: 60px;
  }
}
@media screen and (max-width: 509px) {
  .button {
    width: 144px;
    height: 50px;
  }
}

.simplethings__button-text {
  padding: 20px 50px;
  font-family: Roboto;
  font-size: 20px;
  text-decoration: none;
  color: #7875FE;
}
@media screen and (max-width: 509px) {
  .simplethings__button-text {
    font-size: 18px;
  }
}

.button:hover {
  background: #7875FE;
}

.simplethings__button-text:hover {
  color: #FFFFFF;
  background: #7875FE;
}

.simplethings__picture {
  width: 540px;
  height: 560px;
  background-image: url(/paper-master/assets/img/main__simplethings/paperroll-desktop.png);
}
@media screen and (max-width: 1109px) {
  .simplethings__picture {
    width: 270px;
    height: 339px;
    background-image: url(/paper-master/assets/img/main__simplethings/paperroll-tablet690.png);
  }
}
@media screen and (max-width: 689px) {
  .simplethings__picture {
    width: 195px;
    height: 396px;
    background-image: url(/paper-master/assets/img/main__simplethings/paperroll-tablet510.png);
  }
}
@media screen and (max-width: 509px) {
  .simplethings__picture {
    display: none;
  }
}

.main__products {
  display: grid;
  width: 1110px;
  height: 465px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 90px auto;
}
@media screen and (max-width: 1440px) and (min-width: 768px) {
  .main__products {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-sizing: border-box;
    width: 769px;
    height: 1048px;
    justify-items: center;
    margin: 60px auto;
    padding: 0 39px;
  }
}
@media screen and (max-width: 768px) and (min-width: 578px) {
  .main__products {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    width: 572px;
    height: 1028px;
    margin: 60px auto;
    padding: 0 33px;
  }
}
@media screen and (max-width: 578px) {
  .main__products {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    box-sizing: border-box;
    width: 320px;
    height: 1948px;
    margin: 0 auto;
    padding: 60px 15px 0 15px;
  }
}

.card {
  box-sizing: border-box;
  width: 285px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 1440px) and (min-width: 768px) {
  .card {
    width: 330px;
    height: 434px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) and (min-width: 578px) {
  .card {
    width: 240px;
    height: 434px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 578px) {
  .card {
    width: 290px;
    height: 407px;
    margin-bottom: 60px;
    padding-right: 0;
    padding-left: 0;
  }
}
.card .card__img {
  width: 255px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1440px) and (min-width: 768px) {
  .card .card__img {
    width: 330px;
    height: 180px;
  }
}
@media screen and (max-width: 768px) and (min-width: 578px) {
  .card .card__img {
    width: 240px;
    height: 180px;
  }
}
@media screen and (max-width: 578px) {
  .card .card__img {
    width: 290px;
    height: 180px;
  }
}
.card .card__title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
}
@media screen and (max-width: 1440px) and (min-width: 768px) {
  .card .card__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .card .card__title {
    font-size: 24px;
  }
}
.card .card__subtitle {
  font-family: "Roboto";
  color: #B5B5BD;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 8px;
}
@media screen and (max-width: 768px) {
  .card .card__subtitle {
    font-size: 14px;
    margin-top: 4px;
  }
}
.card .card__text {
  margin-top: 0;
}
.card .card__more {
  font-family: "Roboto";
  text-decoration: none;
  color: #7875FE;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
@media screen and (max-width: 578px) {
  .card .card__more {
    margin-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */